{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUNGRYNEST - Registration form</title>
    <meta name="author" content="Asela Gayan" />
    <link rel="shortcut icon" href="{% static 'logo/img/hungrynestlogo.png' %}" />

    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    
    <link rel="stylesheet" href="{% static 'login&register/css/register.css' %}">
</head>
<body>
    <a href="{% url 'main' %}"><img src="{% static 'logo/img/hungrynestlogo.png' %}" alt="Final Logo" height="130" style="position: absolute; top: 10px; left: 28px;"/></a>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
<!-- Main Content -->
<div class="container">
    <a class="navbar-brand logo" href="#home">
        <a href="{% url 'login' %}" style="position: relative;right: -835px;font-size: larger;font-weight: bolder;text-decoration: solid;color: rgb(13, 250, 159);"><span class="text-end">LOGIN</span></a>
    </a>
    
    <!-- Add or Update User Form -->
    <h2 style="text-align:center;">Registration Form</h2>
    <form id="userForm" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="idno" class="form-label">Id Number:</label>
            <input type="text" class="form-control" id="idno" name="idno" required>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Full Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="Address" class="form-label">Your Address:</label>
            <input type="text" class="form-control" id="Address" name="Address" required>
        </div>
        <div class="mb-3">
            <label for="Contactno" class="form-label">Contact/Phone:</label>
            <input type="text" class="form-control" id="Contactno" name="Contactno" required>
        </div>

        <div class="mb-3">
            <label for="gmail" class="form-label">Gmail:</label>
            <input type="email" class="form-control" id="gmail" name="gmail" required>
        </div>


        <div class="mb-3">
            <label for="Usertype" class="form-label">Select User:</label>
            <select class="form-select" id="Usertype" name="Usertype" required>
                <option value="Not Selected">Select user</option>
                <option value="Admin">Admin</option>
                <option value="Customer">Customer</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Enter Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <br/>
        <br/>

        <button type="submit" class="btn btn-primary btn-margin">Register</button>
    </form>
</div>

<!-- Success Message Popup -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Bootstrap JS and Popper.js scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
